# Copy to 02.dev.env and fill in the empty values.
# Values are Docker env-file values: enter them without shell quotes.

# you will see drehbert in DEV as this hostname, e.g. drehbert-dev.local
DREHBERT_HOSTNAME=drehbert-dev
# The WIFI's SSID
DREHBERT_DEV_WIFI_SSID=
# The WIFI's password
DREHBERT_DEV_WIFI_PASSWORD=
# The country where the WIFI is located (controls radio strength and frequencies and stuff)
DREHBERT_DEV_WIFI_COUNTRY=
# Only set to yes if your WIFI's SSID is hidden by the access point
DREHBERT_DEV_WIFI_HIDDEN=no
